<header class="am-topbar am-topbar-inverse am-topbar-fixed-top admin-header">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="#">首页</a></li>
      <!--顶部导航-->
    </ul>
  </div>
</header>