<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" style="width: 15%">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
          <li><a href="#"><span class="am-icon-home am-icon-fw"></span> 首页</a></li>
          <!--侧边栏-->
        </ul>
    </div>
</div>